In [29]:
def sql_result(query):
    database = pymysql.connect(host='db-read.truebil.com', user='truebil-read',
                               passwd='newreadpassword', db='truebil')
    cursor = database.cursor()
    cursor.execute(query)
    database.commit()
    query_result_list = [row for row in cursor.fetchall()]
    try:
        field_names = [i[0] for i in cursor.description]
        query_result_dataframe = pd.DataFrame(data=query_result_list, columns=field_names)
    except Exception:
        query_result_dataframe = None
    return query_result_dataframe

In [30]:
def listToStr(List, sep=',', pre='(', post=')'):
    return pre + sep.join(str(x) for x in List) + post

In [31]:
def get_car_quality_issues_listings():
    bad_quality_listings = sql_result(CAR_QUALITY_ISSUE_LISTINGS)
    print(bad_quality_listings)
    bad_quality_listings_list = bad_quality_listings['listing_id'].tolist()
    
    refurbished_cars_listings = sql_result(
        CAR_QUALITY_CARS_IN_REFURB.format(listings=listToStr(bad_quality_listings_list)))
    
    merged_df = refurbished_cars_listings.merge(bad_quality_listings, left_on='listing_id', right_on='listing_id')
    
    refurb_list = merged_df.loc[merged_df['refurb_date'] >= merged_df['visit_created_at']]['listing_id'].tolist()
    
    refurb_set = set(refurb_list)
    
    bad_quality_listings_set = set(bad_quality_listings_list)
    
    eligible_listings_set = bad_quality_listings_set - refurb_set
    
    return eligible_listings_set

In [32]:
car_quality_issue_listings = get_car_quality_issues_listings()
print(car_quality_issue_listings)

     visit_created_at  listing_id   price
0 2019-10-26 11:30:42       73054  180000
1 2019-11-23 08:35:31       75076  462000
2 2019-12-16 14:11:01       77210  775000
3 2019-12-24 07:56:48       79006  484000
4 2019-12-22 12:18:59       79254  192000
5 2019-12-16 07:43:40       79390  667000
6 2019-12-10 12:39:56       79798  478000
7 2019-12-25 07:09:43       79889  588000
{73054, 75076, 79390, 79889, 79254, 79798, 77210, 79006}

In [33]:
CAR_QUALITY_ISSUE_LISTINGS = """SELECT MAX(bvltdl.created_at) AS visit_created_at, bvl.listing_id AS listing_id, l.price
FROM buyer_visit_listing_test_driven_logs bvltdl
    JOIN buyer_visit_listings bvl ON bvltdl.buyer_visit_listing_id = bvl.id
    JOIN listings l ON bvl.listing_id = l.id
WHERE bvltdl.buyer_visit_listing_test_driven_status_id = 7 AND l.status = 'active'
GROUP BY bvl.listing_id"""

print(sql_result(CAR_QUALITY_ISSUE_LISTINGS))

     visit_created_at  listing_id   price
0 2019-10-26 11:30:42       73054  180000
1 2019-11-23 08:35:31       75076  462000
2 2019-12-16 14:11:01       77210  775000
3 2019-12-24 07:56:48       79006  484000
4 2019-12-22 12:18:59       79254  192000
5 2019-12-16 07:43:40       79390  667000
6 2019-12-10 12:39:56       79798  478000
7 2019-12-25 07:09:43       79889  588000

In [34]:
CAR_QUALITY_CARS_IN_REFURB = """SELECT listing_id, MAX(changed_at) AS refurb_date FROM listing_status_track 
WHERE status_to='refurbishing' AND listing_id IN {listings} GROUP BY listing_id"""

In [22]:
import pymysql
import pandas as pd